<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include("../partials/head.ejs") %> 
</head>

<body>
    
    <main>
        <div>
            <form action="/riddles/<%= riddle._id %>?_method=PUT" method="post" >
            
                <fieldset>
                    <legend>Edit a <%= riddle.riddle %></legend>
                    <label>
                        RIDDLE: <input 
                            type="text"
                            name="riddle"
                            value="<%= riddle.riddle %>"
                            placeholder="enter a riddle"
                        />
                    </label>
                    <label>
                        ANSWER: <input 
                            type="text"
                            name="answer"
                            value="<%= riddle.asnwer %>"
                            placeholder="enter a answer"
                        />
                    </label>
                    <label>
                        IMAGE: <input type="text" name="image" <%= riddle.image %> />
                    </label>
                </fieldset>
                <input type="submit" value="Update <%= riddle.riddle%>" />
            </form> 

        </div>

    </main>

</body>

</html>