<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="index">
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
          <a href="/riddles/new"><button style="background-color: darkgreen; border: none;">Create A New Riddle</button></a>
          <a href="/user/logout"><button style="background-color: darkgreen; border: none;">Logout</button></a>
          <div>
        <% for (riddle of riddles) { %>

        
            <section class="each-riddle"> <%= riddle.question %>
            <h2 
            hx-get="/riddles/<%= riddle._id %>"
            hx-trigger="click"
            hx-target="div"
            hx-swap="innerHTML">
            <img style="width: 10%; height: 10%;" class="main" src="<%= riddle.image %>"  alt="">
            </h2>
              
            
        </section>

        <% } %>
      </div>
    </main>
  </body>
</html>