<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                    <article>
                            <h2>
                                <%= riddle.riddle %> 
                            </h2>
                            <h3> <%= fruit.answer %> </h3>
                            <a href="/riddles/<%= riddle._id %>/edit">
                               <button>Edit</button>
                            </a>
                            <form action="/riddles/<%= riddle._id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" />
                            </form>
                            <a href="/riddles/"> 
                                <button>Back</button>
                            </a>
                    </article>

            </div>
        </main>
    </body>
</html>