<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
 
    <main>
      
      
        <h2><%= riddle.question %></h2>
        
        <div x-data="{open: false}"></>
        <button style="background-color: rgb(0, 78, 0); border: none;" x-on:click="open = !open">Show Answer</button>
        <div x-show="open" x-transition>
        <h3><%=riddle.answer%><h3>
        </div>
      </section>
        <div x-data="{showTools: false}">
          <button style="background-color: rgb(0, 78, 0); border: none;" x-on:click="showTools = !showTools">Show Options</button>
          <div x-show="showTools" x-transition>
          <a href="/riddles/<%= riddle._id %>/edit"><button style="background-color: rgb(0, 78, 0); border: none;">Edit</button></a>
          <form action="/riddles/<%= riddle._id %>?_method=DELETE" method="POST">
            <input style="background-color: rgb(0, 78, 0); border: none;" type="submit" value="Delete"/>
          </form>
          <a href="/riddles/"><button style="background-color: rgb(0, 78, 0); border: none;">Back to Main</button></a>
          </div>
        </section>

      </div>
    </main>
  </body>
</html>