<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
 
    <main>
      <div>

        <article x-data="{showTools: false}">
          <h2><%= riddle.question %></h2>
          <button x-on:click="showTools = !showTools">Show Answer</button>
          <h3><%= riddle.answer%></h3>
          <button x-on:click="showTools = !showTools">Show Options</button>
          <div x-show="showTools" x-transition>
          <a href="/riddles/<%= riddle._id %>/edit"><button>Edit</button></a>
          <form action="/riddles/<%= riddle._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
          </form>
          <a href="/riddles/"><button>Back to Main</button></a>
          </div>
        </article>

      </div>
    </main>
  </body>
</html>